body {
    background-color: antiquewhite;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 10%;
}

.title {
    font-family: cursive;
    font-weight: bold;
    font-size: 25px;
}

.account_type {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    font-weight: bolder;
    color: chocolate;
}

.main {
    text-align: center;
    padding-top: 0%;
    line-height: 2;
    font-family: cursive;
    background-color: azure;
}

input[type="text"] {
    font-family: cursive;
    font-size: 16px;
    padding: 2.5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    text-align: center;
}


button {
    font-family: cursive;
    font-size: 13px;
    font-weight: bold;
    color: black;
    background-color: burlywood;
    border: none;
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: brown;
    color: aliceblue;
}